.logo-row {
    padding-top: 20px;
}

.col-row {
    display: flex;
}

#atm-logo {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

h2 {
    color: white;
    display: inline;
    align-self: flex-end;
    margin-bottom: 0;
}

.row-2 {
    margin: 30px 0 30px 0;
}

#p-title, #p-transaction {
    font-size: 2.5em;
    font-weight: 600;
}

.info-block {
    background-color:ghostwhite;
    height: 50px;
}

p {
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.number-info {
    color: black;
    font-size: 30px;
    font-weight: 400;
}

.row-answer {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0;
}

.category{
    position: relative;
    height: 10vh;
    border-bottom: 5px solid white;
}

.category span {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 2.5rem;
}

.right-side {
    background-image: linear-gradient(to right, rgba(0, 100, 0, 0), #136642);
    cursor: pointer;
}

.col-button {
    padding: 0;
    margin: 0;
}

.key-press {
    height: 100%;
    width: 100%;
    background-color:lightgray;
    cursor: pointer;
}

@media (min-width: 360px ) and (max-width: 410px) {
    #p-title, #p-transaction {
        font-size: 1.2em;
    }

    .row-2 {
        padding: 0;
    }

    .col-2 {
        width: 100px;
    }

    .category span {
        font-size: 1.2em;
    }

    .info-block {
        height: 40px;
    }

    .number-caption p {
        font-size: 1em;
        margin-bottom: 0;
    }

    #number-caption-2 {
        padding-bottom: 25px;
    }

    .number-info {
        font-size: 1.2em;
    }

    .category{
        height: 7vh;
    }


}