<div class="container">
    <div class="row logo-row">
        <div class="col col-row">
            <img src="peso.png" alt="ATM Logo" id="atm-logo">
            <h2>EM's ATM</h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-loading">
            <img src="circular loading.png" alt="Transaction Processing" id="circular-loading">
            <h1 id="h1-transaction-processed">YOUR TRANSACTION <br>
            IS BEING PROCESSED.
            </h1>
        </div>
    </div>
    


</div>