.container {
    color: white;
}

.logo-row {
    padding-top: 20px;
}

.col-row {
    display: flex;
}

#atm-logo {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

h2 {
    color: white;
    display: inline;
    align-self: flex-end;
    margin-bottom: 0;
}

h1 {
    margin-bottom: 30px;
}

#message-centered {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-15%);
}

@media (min-width: 360px) and (max-width: 410px) {
    #message-centered {
        /* margin-top: -250px; */
    }

    #message-centered h1 {
        font-size: 1.5em;
    }

    #message-centered h3 {
        font-size: 1.2em;
    }

}