<div class="container">
    <div class="row logo-row">
        <div class="col col-row">
            <img src="peso.png" alt="ATM Logo" id="atm-logo">
            <h2>EM's ATM</h2>
        </div>
    </div>
    <div class="row row-2 justify-content-center">
        <div class="col text-center">
            <p id="p-title">PLEASE PRESS THE PROPER KEY<br>
            FOR YOUR DESIRED SOURCE ACCOUNT</p>
        </div>
    </div>
    <div class="row category-row first-category justify-content-end">
        <div class="col-4 category right-side">
            <span>SAVINGS (SA)</span>
        </div>
        <div class="col-1 col-button">
            <button class="key-press" type="button" (click)="selectAccount('savings')"></button>
        </div> 
    </div>
    <div class="row category-row justify-content-end">
        <div class="col-4 category right-side">
            <span>CHECKING (CA)</span>
        </div>
        <div class="col-1 col-button">
            <button class="key-press" type="button"></button>
        </div> 
    </div>
    <div class="row category-row justify-content-end">
        <div class="col-4 category right-side">
            <span>CASH CARD</span>
        </div>
        <div class="col-1 col-button">
            <button class="key-press" type="button"></button>
        </div> 
    </div>
    


</div>
